body {
padding: 0px;
margin: 0px;
overflow: hidden;
}

#leftPlane  {
float: left;
height: 100%;
border: 1px solid black;
}

#slidePlane {
right: 0px;
top: 0px;
float: left;
height: 100%;
border: 1px solid black;
}

#slideIframe {
height: 100%;
width: 100%;
}

.punch-filmstrip-thumbnail{
    background-color: yellow;
    border: 3px solid black;
}


#documentText {
    white-space:pre-wrap;
    font-size: 18px;
}

.paragraph {
padding: 3px;
}

.word {
}

.highlightPhrase {
background-color: yellow;
cursor: pointer;
}

#pdfjsIframe {
width: 100%;
height: 100%;
}

#slidePlaneCanvas {
width: 100%;
height: 100%;
position: absolute;
top: 0px;
pointer-events: none;
}

.elementButton {
    font-size: 15px;
}

#elementMenuButton {
    position: relative;
    pointer-events: auto;

    display: none;

    overflow: auto;
    font-size: 20px;
    margin-top: 10px;
}

#contentVisualizer{
    position: relative;
    pointer-events: none;

    display: none;
    overflow: auto;
    font-size: 20px;
    margin-top: 10px;

    border: 1px solid black;
}

.contentVisualizerBtnSelected {
    background-color: yellow;
    border: 3px solid red;
}

.contentVisualizerButton{
    pointer-events: auto !important;
    font-size: 20px;
    padding: 3px;
}

#slideNavigator {
    position: relative;
    pointer-events: auto;

    display: none;
    overflow: auto;
    font-size: 20px;
    margin-top: 10px;
}

#slidePlaneCanvasPopup {
    position: relative;
    pointer-events: auto;

    display: none;
    overflow: auto;
    font-size: 20px;
    margin-top: 10px;
}

#autoCompleteTable tr td {
    cursor: pointer;
    border: 1px solid black;
}

#outlinePlane {
float: left;
border: 1px solid black;
height: 100%;
}

.splitBar {
position: absolute;
width: 10px;
height: 100%;
background-color: red;
}

#wrapper {
width: 2000px;
height: 800px;
}

#outlinePlaneContent {
padding: 10px;
box-sizing: border-box;
}

.outlineLineEditor {
    height: auto;
    font-size: 30px;
    border: 1px solid black;
    display: block;
    overflow: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.outlineBullet {
    font-size: 30px;
    width: 40px;
    text-align: right;
    float: left;
    margin-right: 5px;
}

.outlineLineEditor:focus {
   outline-width: 0;
}

.topBarButtonSelected {
    border: 5px solid black;
}

#autoCompleteNumberInput {
width: 0.1px;
font-size: 0.1px;
height: 0.1px;
opacity:0;
filter:alpha(opacity=0);
}

#autoCompleteSubmitBtn {
width: 0.1px;
height: 0.1px;
font-size: 0.1px;
}

#autoCompleteCancelBtn {
width: 80px;
height: 30px;
font-size: 20px;
}

.slideNavigatorButton {
    font-size: 20px;
    padding: 3px;
}

.typeBtn{
    font-size: 20px;
    padding: 3px;
}

.slideVisualizeParagraphIdentifier {
    background-color: blue;
    opacity: 0.5;
    cursor: pointer;
    pointer-events: auto !important;
    border-radius: 100%;
}

.rowSelected {
    background-color: yellow;
}

td:focus {
    background-color: yellow;
}

.selectedRow {
    background-color: yellow;
}

#searchResultTab {
    position: absolute;
    height: 20%;
    width: 50%;
    border: 1px solid black;
    background: white;
    display: none;
}

.imageQueryResultItem {
    max-width: 200px;
    margin: 10px;
    float: left;
}

.imageQueryResultItem:hover {
    background-color: orange;
    border: 2px solid red;
    cursor: pointer;
}

.searchResultCloseBtn {
    float: right;
    margin: 5px;
}

#searchResultTab {
    overflow: scroll;
}

#searchBar {
    margin: 5px;
}

.selectedVisualizeParagraph {
    border: 2px solid red !important;
}

.slideVisualizeParagraph:hover {
    background-color: yellow;
	opacity:0.3;
}
