body {
padding: 0px;
margin: 0px;
overflow: hidden;
}

#leftPlane  {
float: left;
height: 100%;
border: 1px solid black;
}

#slidePlane {
right: 0px;
top: 0px;
float: left;
height: 100%;
border: 1px solid black;
}

#slideIframe {
height: 100%;
width: 100%;
}

.punch-filmstrip-thumbnail{
    background-color: yellow;
    border: 3px solid black;
}


#documentText {
    white-space:pre-wrap;
    font-size: 18px;
}

.paragraph {
padding: 3px;
}

.word {
}

.highlightPhrase {
background-color: yellow;
cursor: pointer;
}

#pdfjsIframe {
width: 100%;
height: 100%;
}

#slidePlaneCanvas {
width: 100%;
height: 100%;
position: absolute;
top: 0px;
pointer-events: none;
}

#slidePlaneCanvasPopup {
    position: relative;
    pointer-events: auto;
    border: 1px solid black;
    display: none;
    overflow: auto;
}

#autoCompleteTable tr td {
    cursor: pointer;
}

#outlinePlane {
float: left;
border: 1px solid black;
height: 100%;
}

.splitBar {
position: absolute;
width: 10px;
height: 100%;
background-color: red;
}

#wrapper {
width: 2000px;
height: 800px;
}

#outlinePlaneContent {
padding: 10px;
box-sizing: border-box;
}

.outlineLineEditor {
    height: auto;
    font-size: 30px;
    border: 1px solid black;
    display: block;
    overflow: auto;
    box-sizing: border-box;
    overflow-x: hidden;
}

.outlineBullet {
    font-size: 30px;
    width: 40px;
    text-align: right;
    float: left;
    margin-right: 5px;
}

.outlineLineEditor:focus {
   outline-width: 0;
}

.topBarButtonSelected {
    border: 5px solid black;
}


